@charset "UTF-8";
.calendarAllFunction{
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  display:none;
 
} 
/* .demo{
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:636.6px;
  z-index:90;
  display:none;
} */
/* .calendarFunction{
  position:relative;
  left:400px;
  width:430px;
  height:270px;
}  */
#changeHhore{
   position:absolute;
   left:400px;
   top:10px;
   width:130px;
   height:17px;
   border:solid 1px #DCDCDC;
   

}
.zhi{
   position:absolute;
   top:10px;
   left:550px;
   font-size:15px;
}
#changeHhore1{
   position:absolute;
   top:10px;
   left:600px;
   width:130px;
   height:17px;
   border:solid 1px #DCDCDC;
}
.calendar{
  position:absolute;
  top:40px;
 left:0px;
  width:430px;
  height:242px;
  font-size: 15px;
  border:1px solid #DCDCDC;
  background:white;
  display:none;
  z-index:300;
}
.calendarTop{
  position:relative;
  padding-left:100px;
  padding-top:10px;
  width:330px;
  height:30px;
  color:white;
  background-color:rgba(0, 150, 255, 1.0);
  border:1px solid #DCDCDC;
}
.calendarButtom{
  position:relative;
  height:200px;
  width:450px;
  font-size: 13px;
 
}
.calendarButtomLeft{
  position:relative;
  float:left;
  height:200px;
  width:209px;
  border-right: solid 1px #DCDCDC;
}
.calendarButtomWeek{
  position:relative;
  height:20px;
  width:230px;

}
.calendarButtomWeek1{
  position:relative;
  float:left;
  height:20px;
  width:30px;
  text-align:center;
 
}
.calendarButtomRight{
  position:relative;
  float:left;
  margin-left:5px;
  width:180px;
  height:200px;
}
.giveTextDate{
  width:28px;
  height:22px;
  padding-top:6px;
  text-align:center;
 
}
.giveTextDateDemo{
  width:28px;
  height:22px;
  padding-top:6px;
  color:gray;
  text-align:center;
}
.giveTextMonth{
  width:50px;
  height:45px;
  padding-top:20px;
  text-align:center;
}

.giveTextHore{
  width:50px;
  height:25px;
  padding-top:6px;
  text-align:center;
}
.to_leftYearAndMonth {
    position:relative;
    margin-left:60px;
    margin-top:5px;
    float:left;
    width: 0;
    height: 0;
    border-right: 5px solid #ccc;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.to_leftYearAndMonth:hover{
    opacity:0.7;
}
.YearAndMonth{
   position:relative;
   margin-left:20px;
   float:left;
   cursor: pointer;
}
.to_rightYearAndMonth{
    position:relative;
    margin-left:20px;
    margin-top:5px;
    float:left;
    width: 0;
    height: 0;
    border-left: 5px solid #cccf;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.to_rightYearAndMonth:hover{
    opacity: 0.7;
}